<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ChatBot.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ChatBot.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <ChatBot.Properties.Settings>
      <setting name="Fondo" serializeAs="String">
        <value>LightYellow</value>
      </setting>
      <setting name="Usuario" serializeAs="String">
        <value>LightGreen</value>
      </setting>
      <setting name="Robot" serializeAs="String">
        <value>Aquamarine</value>
      </setting>
    </ChatBot.Properties.Settings>
  </userSettings>
  <applicationSettings>
    <ChatBot.Properties.Settings>
      <setting name="Key" serializeAs="String">
        <value>24e7f77d-fe66-40c6-8da0-e57194a86f85</value>
      </setting>
      <setting name="Endpoint" serializeAs="String">
        <value>https://actividad51.azurewebsites.net</value>
      </setting>
      <setting name="Id" serializeAs="String">
        <value>c94cd741-f268-47d4-a2fe-e9ef7d8e2e9b</value>
      </setting>
    </ChatBot.Properties.Settings>
  </applicationSettings>
</configuration>